
config wifi-device 'radio0'
        option builtin 'false'        
        option manufacturer 'Buffalo'
        option model 'whr-AG105'
        option type 'omni'
        option gain '4'
        option polarization 'horizontal'

config wifi-device 'radio1'
	option builtin 'false'
	option manufacturer 'Buffalo'
	option model 'whr54g'
	option type 'omni'
	option gain '2'
	option polarization 'vertical'

	
